<input hidden id="import" type="file" accept=".json, application/json, text/json">
<button id="importButton" clickable style="float: left;">Import</button>
<button id="exportButton" clickable style="float: left;">Export</button>
<a style="float: right;"><span is="hss-span-storage-use"></span></a>