<table is="hss-table-games" id="games" class="styled-table">
    <thead>
        <tr>
            <th clickable is="hss-table-header-sortable">Date</th>
            <th clickable is="hss-table-header-sortable">Players</th>
        </tr>
    </thead>
    <tbody hidden></tbody>
</table>

<dialog id="gameDetails">
    <form>
        <p>
            <h1>Game Details</h1>
            <em>Date</em>
        </p>

        <h2>Players</h2>
        <table id="gamePlayers" class="styled-table">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Name</th>
                    <th>MMR</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h2>MMR</h2>
        <div mmr-chart></div>
        
        <h2>Events</h2>
        <ol events></ol>
        
        <div>
            <button value="cancel" formmethod="dialog">Close</button>
        </div>
    </form>
</dialog>