<h1 style="float: left;">Hunt: ShowStats</h1>
<a style="float: right;" href="https://github.com/bushrat011899/bushrat011899.github.io" target="_blank">GitHub</a>
<a style="float: right;" href="https://github.com/bushrat011899/bushrat011899.github.io/blob/main/README.md" target="_blank">Details</a>
