<button clickable id="fileButton" onclick="getFile()">Watch File</button>

<h2>Games</h2>
<p>Table of all previous games. Click on one to see details.</p>

{{> games}}

<h2>Players</h2>
<p>Table of all players you've played against. Click on one to see details.</p>

{{> players}}