<div noscript>
    <h1>Please Enable JavaScript</h1>
    <p>This application requires JavaScript in order to function, as all computation and data storage is done in your browser. Please whitelist this page.</p>
</div>