<table id="players" class="styled-table" ascending>
    <thead>
        <tr>
            <th clickable is="hss-table-header-sortable">Name</th>
            <th clickable is="hss-table-header-sortable">MMR</th>
            <th clickable is="hss-table-header-sortable">Kills</th>
            <th clickable is="hss-table-header-sortable">Deaths</th>
            <th clickable is="hss-table-header-sortable">Assists</th>
            <th clickable is="hss-table-header-sortable">Games</th>
        </tr>
    </thead>
    <tbody hidden></tbody>
</table>

<dialog id="playerDetails">
    <form>
        <h1><a name>Player Name</a> (<span profile>123456789</span>)</h1>

        <div id="kda">
            <div>
                <p>Your Kills</p>
                <span kills>0</span>
            </div>
            <div>
                <p>Your Deaths</p>
                <span deaths>0</span>
            </div>
            <div>
                <p>Team Kills</p>
                <span assists>0</span>
            </div>
            <div>
                <p>Team deaths</p>
                <span collateral>0</span>
            </div>
        </div>

        <h2>MMR</h2>
        <p><span mmrAverage>2000</span> +- <span mmrStd>2000</span></p>
        <div id="chartArea"></div>
        
        <div>
            <button value="cancel" formmethod="dialog">Close</button>
        </div>
    </form>
</dialog>