.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    white-space: nowrap;
    text-align: center;
    border: 2px solid var(--colour-primary);

    th, td {
        padding: 12px 15px;
    }

    thead {
        tr {
            background-color: var(--colour-primary);
            color: var(--colour-text-primary);
            text-align: center;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid var(--colour-border-background-foreground);
        }
    }

    td:last-child,
    th:last-child {
        width: 100%;
    }
}