@use "hidden";
@use "clickable";
@use "noscript";
@use "table";

:root {
    --colour-primary: #608890;
    --colour-secondary: #710709;
    --colour-background: #000000;

    --colour-text-primary: #000000;
    --colour-text-secondary: #ffffff;
    --colour-text-background: #ffffff;
}

:root {
    --colour-border-background-foreground: color-mix(in srgb, var(--colour-background) 60%, var(--colour-text-background));
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--colour-text-background);
    background-color: var(--colour-background);
    overflow-y: hidden;
}

header {
    background-color: var(--colour-primary);
    width: 100%;
    height: 100px;
    vertical-align: middle;
    display: inline-block;

    * {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1em;
        margin-right: 1em;
        line-height: 100px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--colour-primary);
    width: 100%;
    height: 40px;
    vertical-align: middle;
    display: inline-block;

    * {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1em;
        margin-right: 1em;
        line-height: 40px;
    }

    button {
        color: var(--colour-text-secondary);
        background-color: var(--colour-secondary);
        border: none;
        padding: 0 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 0;
    }
}

dialog {
    top: 5%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0.1s;
    display: block;
    width: 90%;
    height: 90%;
    color: var(--colour-text-background);
    background-color: var(--colour-background);
    z-index: 1000;

    &[open] {
        top: 0;
        opacity: 1;
        pointer-events: inherit;
    }

    &::backdrop {
        background-color: rgba(0,0,0, 0.5);
    }

    >form {
        width: 100%;
        height: 100%;
    }
}

table#gamePlayers tbody tr[own] {
    color: var(--colour-primary);
    font-weight: bold;
}

table#games,
table#players {
    position: relative;
    display: inline-block;
    min-height: 100px;
    max-height: 25vh;
    overflow-y: scroll;

    thead tr {
        position: sticky;
        top: 0;
        z-index: 10;
    }
}

div#kda {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

dialog#gameDetails ol[events] {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button#fileButton {
    background-color: var(--colour-primary);
    color: var(--colour-text-primary);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}
